*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    background-color: #1E2D3B;
    height: 100vh;
}

header{
    background-color: #2E3A46;
}

#logoContainer{
    height: 50px;
    width: 50px;
    background-image: url('https://www.citypng.com/public/uploads/small/11661940170irigpjehbgiem38s2xsxehzrjzgrox15bm6vim8ktxgwsxhvna9pgrrcocabmg3itv2d3ewsl1nbnhejsfgorvqvwzdfdxxsdyur.png');
    background-size: cover;
}


#singleCD{
    background-color: #2E3A46;
    aspect-ratio: 1/2;
}

#singleCD > img{
    width: 90%;
    aspect-ratio: 1/1;
}

#cardBody{
    height: 50%;
}